@model IEnumerable<board_members>

@{
    Layout = "_Layout";
}

<h2>board_members</h2>
<table class="table">
    <tr>
        
    </tr>

    @foreach (var board_members in @Model)
    {
        <tr>
            <td>@board_members.FirstName</td>
            <td>@board_members.LastName</td>
            <td>@board_members.Title</td>
            @if (board_members.Email != null)
            {
                <td>@board_members.Email</td>
            }
            @if (board_members.PhoneNumber != null)
            {
                <td>@board_members.PhoneNumber</td>
            }
        </tr>
    }

</table>